body{

background:#f2f2f2;
font-family:Arial;

}

.container{

width:700px;

margin:auto;

margin-top:50px;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px gray;

}

textarea{

width:100%;

padding:15px;

font-size:18px;

}

button{

margin-top:20px;

padding:12px 30px;

background:#007BFF;

color:white;

border:none;

cursor:pointer;

font-size:18px;

}

h2{

color:green;

}